{% extends "forum/base.html" %}
{% block title %}
<title>用户退出陆</title>
{% endblock %}

{% block content %}
<div class="flex flex-col max-w-2xl mx-auto items-center rounded-xl p-5 mt-10 pl-7 pr-7">
    <h1 class='text-3xl leading-6 font-bold text-gray-700 mb-4 mt-7 '>用户已经退出</h1>
</div>

<div class="max-w-2xl mx-auto items-end mr-30 mt-1 mb-10">
    <p class="text-right">再次登陆？
        <a class="text-right underline underline-offset-2 hover:text-gray-500" href="{% url "login" %}">登陆</a>
    </p>
</div>
{% endblock %}

{% block rightbar %}
<div class="flex flex-col bg-slate-100 shadow-md rounded-md space-y-3 text-gray-500 p-3">
<p class='text-xl font-bold'>问答论坛</p>
<p class='text-sm'>介绍...</p>
<hr class="" />
<p class='text-xl font-bold'>欢迎您加入！</p>
<p class='text-sm'>...</p>
</div>
{% endblock %}
